!!!
%html
  %head
    %title BootstrapApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %nav.navbar-inverse{role: "navigation"}
      .container-fluid
        .navbar-header
          - if current_user.present?
            %a.navbar-brand{href: "#"} #{current_user.email}
          -else
            %a.navbar-brand{href: "#"} My App
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            -unless current_user.present?
              %li
                = link_to_rpx "Signin using RPX!", user_session_url

          %ul.nav.navbar-nav.navbar-right
            -if current_user.present?

              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: user_profiles_path} All Users
                  - unless current_user.user_profile.present?
                    %li
                      %a{href: new_user_profile_path} New profile
                  %li
                    %a{href: edit_user_profile_path(current_user)} Edit Profile

                  / - debugger
                  / - if current_user.user_profile.blank?
                  /   %li
                  /     %a{href: user_profile_path(current_user.user_profile.try(:id))} Show profile
                  %li.divider
                  %li
                    %a{href: root_url} Home
              %li
                = link_to "Logout" , destroy_user_session_path ,:method => :delete
            - else
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: new_user_session_path} SignIn
                  %li
                    %a{href: new_user_registration_path} SignUp
                  %li
                    %a{href: "#"} Something else here
                  %li.divider
                  %li
                    %a{href: root_url} Home
  %body
    = yield
    = javascript_include_rpx(user_session_url)
    %br
    %nav.navbar.navbar-inverse.navbar-fixed-bottom{role: "navigation"}
      .container